useDynLib("SpatialEpi")
exportPattern("^[[:alpha:]]+")
importFrom("MASS", glm.nb)
import("sp")
import("maps")
import("maptools")
import("shapefiles")
import("spdep")
import("gtools")
import("rgeos")
import("lattice")
import("Matrix")
import("nlme")
